/*Color Family my dude
Light background : rgb(244, 247, 255)
Dark background  : rgb(183, 204, 254)
Big block        : rgb(101, 146, 249)
Darkest useable  : rgb(63, 116, 239)
*/

html{
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
}

header{
    background-color: rgb(63, 116, 239);
    width: 100%;
    max-width: 2560px;
    max-height: 240px;
    padding: 0px 0px;
}

h1{
    font-size:100%;
    margin: 0 auto;
}
div.content{
    
    max-width: 1280px;
    margin: 0 auto;
}
div.container-top{
    padding: 0px 20px 0px 20px;
    margin: 0px 1vw 0px 1vw;
    color: black;
    font-size: 300%;
    text-align: left;
}
body{
    width: 100%;
    margin: 0 auto;
   
}

div.bio-text{
    /* background-color: rgb(244, 247, 255); */
    padding: 5px 0px 5px 0px;

}

div.links-text{
    /* background-color: rgb(244, 247, 255); */
    padding: 5px 0px 5px 0px;
}

div.assignments-links{
    
    padding: 5px 0px 5px 0px;
    font-size: 16px;
}


h2,h3,h4,h5{
    background-color: rgb(183, 204, 254);
    max-height: 240px;
    font-size: 150%;
    color: black;

    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: 1080px;
    text-align: left;
    padding: 0px 10px 0px 10px;
    
}

p, li {
    line-height: 2;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 0px 2% 0px 2%;
    max-width: 1080px;
}

ul{
    line-height: 2;
    letter-spacing: 1px;
    margin: 0 10%;
    padding: 0px 2%;
    max-width: 1080px;

}
a{
    max-width: 1080px;
    margin: 0 auto;
    display: block;
    text-align: left;
    padding: 15px 0px;
} 
a:hover{
    color: black;
}

img{
    margin: 0 auto;
    display: block;
    padding: 5px 0px 5px 0px;

}
div.image-caption{
    margin: 0 auto;
    padding: 0px 0px 15px 0px;
    font-size: 10px;
    text-align: center;
    display: block;
}
