.sneakers {
	/* A monospaced font prevents wobbling */
	font-family: Consolas, "Andale Mono", "Courier New", monospace;
	/* Preserve newlines in plain text */
	white-space: pre;
}

html{
	background-color: rgb(41, 41, 41);
	color: #BADA55;
	font-size: 20px;
	
	
}
body{
	margin:0 auto;
	text-align: center;
}